@charset "UTF-8";

@media all{
    img{
        display: block;
        margin: auto;
    }
}

@media screen and (max-width:600px){
        body{background-color: #5f2c82;
}
 }
@media screen and (min-width:600px) and (max-width:768px) {
    
}
@media screen and (min-width:768px) and (max-width:992px) {
   
div#img{
    display: block;
}

  
}
@media screen and (min-width:992px) and (max-width:1200px){
    
}
@media screen and (min-width:1200px) {
    
}