@charset "UTF-8";

@media all{
    img{
        display: block;
        margin: auto;
    }
}
@media screen and (min-width:600px) and (max-width:768px){
body{
    background-color: blueviolet;
}

}
  
@media screen and (min-width:768px) and (max-width:992px) {
   
section#login{
    width:90vw;
}
  
}
@media screen and (min-width:992px) and (max-width:1200px){
    main{
        display: block;
        margin: auto;
        text-align: center;
    }
    
      
    
}
@media screen and (min-width:1200px) {
    
}