@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
/*
paleta de cores;
verde:#49a09d
lilas:#5f2c82

*/


body{
    background:linear-gradient(to bottom, #49a09d,
    #5f2c82 );
    width: 100%;
    height: 100%; 

}

main{ 
    background-color: white;
   border : 1px, solid, black; 
   border-radius: 2%;
 margin: 220px;
   width: 850px;  
   height: 300px;
   
   text-align: center;
   padding: 10px;
   
    }
    
 #formulario{
text-align: justify;
left: 50%;
}
#formulario>h1{
    right: 80px;
    
}
section #login{
    
}
#imagem{
    background-image:url(imagens/pexels-gdtography-277628-911738.jpg);
    width: 475px;
    height: 310px;
    border-radius: 5%;
   position: absolute;
   left: 46%;
   right: 50%;
   padding-block-start: 13px;
   padding-inline-start: 10px;
  
   
   transform: translate(-1%, -4%);
}
#email{
    border:1px, solid, black;
    border-radius: 25%;
    background-color:#41797779;
}
#senha{
    border:1px, solid, black ;
    background-color:#41797779;
    border-radius: 5%;
    
}