@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
   }
/*
paleta de cores;
verde:#49a09d
lilas:#5f2c82

*/


body{
    background:linear-gradient(to bottom, #49a09d,
    #5f2c82 );
    width: 100%;
    height: 100%; 

}

main{ 
    background-color: white;
   border : 1px, solid, black; 
   border-radius: 2%;
 margin: 220px;
   width: 850px;  
   height: 300px;
   
   
   padding: 10px;
   
    }
    
 #formulario{
text-align: justify;

}
#formulario>h1{

 
}
.left {
    width: 50%; /* Ocupa a metade esquerda da tela */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Opcional: se quiser ajustar mais para o meio da esquerda */
   
  }
  
section #login{
    
}
#imagem{
    background-image:url(imagens/pexels-gdtography-277628-911738.jpg);
    width: 475px;
    height: 310px;
    border-radius: 5%;
   position: absolute;
   left: 46%;
   right: 50%;
   padding-block-start: 13px;
   padding-inline-start: 10px;
  
   
   transform: translate(-1%, -4%);
}

form> div.campo{
  background-color: #5f2c82;
  border:2px, solid, #5f2c82;
  border-radius: 5px;
  margin: 10px;
  padding-top: 2px;
  width: 350px;
  height: 30px;
}

 form.campo > input[type="email"]{
    
    
    background-color:white ;
    width: 353px;
    margin: 10px 5px;
    height: 30px;
    
    
}

form >input[type=password]{
    
    background-color:#93d0c9;
    border-radius:10px;
    width:358px;
   height: 30px;
    padding-bottom: 0%;
   }

form> input[type=submit]{
 background-color:#2d877d;
 margin-top: 10px;
 border:2px, solid, rgba(0, 0, 0, 0.438);
 border-radius: 10px;
 width: 360px;
 height: 40px;
color: white;

}


form > div.botao {
margin-top: 10px;
padding-top: 10px;
border:2px, solid,black;
 border-radius: 9px;
 width: 355px;
 height: 30px;
 text-align:center;
 
}
a{
  color: black;
  text-decoration: none;
}
form> a:hover{
  background-color:#68d4cb;
}

 
   

