@charset "UTF-8";

@media (max-width:992px) {

body{
        background-color: #5f2c82;
}
main{
    background-color: white;
    border-radius: 2%;
  margin: 220px;
    width: 850px;  
    height: 300px;
    
    padding: 10px;
    
}

















































    
}