@charset "UTF-8";

@media  (max-width: 767px) {
  *{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
   }

body{
        background-color: #5f2c82;
        width: 100%;
        height: 100%; 
        overflow: hidden;
}
main{
  position: relative;
   background-color: white;
   border-radius:2%;
 margin: 220px;
   width: 300px;  
   height: 500px;
   padding: 10px;
  transform: translate(-110px,-150px);
  z-index: 1;
}
#formulario{
  text-align: justify; }

section#login >div#formulario{
  display: block;
  justify-content: center;
    align-items: center; 
  }
  #formulario{
    text-align: justify;
    
    }
    section#login >div#formulario{
    display: block;
    justify-content: center;
      align-items: center; 
    }
    
    #formulario>h1{
       transform: translate(-426px,140px);
  
    }
    #formulario>p{
    transform: translate(-440px,130px);
    width:300px;
    
    }
    section#login >div#imagem{
      background: #5f2c82 url(pexels-gdtography-277628-911738.jpg);
        width:315px;
        height:120px;
        margin-top:13px;
        border-top-right-radius: 5%;
        border-top-left-radius:5% ; 
        position: absolute;
        bottom: 40%;
        left:10%;
       transform: translate(17.3%, -136%);
       z-index: 10;
      
    }
    
    form > div.campo{
      background-color: #5f2c82;
      border-radius:2px solid #5f2c82;
      border-radius: 9px;
      margin: 7px 0px;
      width: 250px;
      height: 40px;
      display: block;
       transform: translate(24px,126px);

    }
    div.campo>input{ 
      
      height: 30px;
      width: 200px;
      border: 10px;
      padding: 4px;
      border-radius: 9px;
      background-color: white;
      transform: translate(5px,-8px);

    }
     div.campo > input:hover{
     background-color: #49a09d;
     transform: translate(600px, -75px);
    
     }
       
       div.campo > label{
        display: none;
     }
    
     div.campo>  span {
      font-size: 2em;
      color: white;
         }
    
    form> input[type=submit]{
      background-color:#2d877d;
     margin: 2px;
     border:2px solid rgba(0, 0, 0, 0.438);
     border-radius: 10px;
     width: 250px;
     height: 40px;
    color: white;
    transform: translate(22px,130px);
    
    }
    form> input[type=submit]:hover{
      background-color:rgba(0, 119, 255, 0.484);
    }
    
    
    
    form > div.botao {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    border:2px solid black;
     border-radius: 9px;
     width: 246px;
     height: 20px;
     text-align:center;
     transform: translate(22px,130px);
     
    }
    a {
      color: black;
      text-decoration: none;
     font: size 4em; 
     transition: calc();
    }
     form>div.botao > span{
      font-size:0.8em;
    }
    div.botao:hover{
      background-color:#68d4cb;
    }
     
















































    
}