@charset "UTF-8";
@media (min-width:769px) and (max-width:992px){
  *{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
   }
/*
paleta de cores;
verde:#49a09d
lilas:#5f2c82

*/


body{
    background:linear-gradient(to bottom, #49a09d,
    #5f2c82 );
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

main{ 
    background-color: white;
   border-radius:2%;
 margin: 220px;
   width: 600px;  
   height: 340px;
   padding: 10px;
   
    }
    
 #formulario{
text-align: justify;

}
section#login >div#formulario{
display: block;
justify-content: center;
  align-items: center; 
}

#formulario>h1{
 float: left;
 width: 60%;
}


section#login >div#imagem{
  background: #5f2c82 url(pexels-gdtography-277628-911738.jpg);
    width: 230px;
    height: 349px;
    margin-top:13px;
    border-top-right-radius: 5%;
    border-bottom-right-radius:5%;
    position: absolute;
    left: 46%;
    right: 30%;
   padding-block-start: 13px;
   padding-inline-start: 10px;
   transform: translate(-1%, -4%);
   display: block;
}

form > div.campo{
  background-color: #5f2c82;
  border-radius:2px solid #5f2c82;
  border-radius: 9px;
  margin: 7px 0px;
  width: 270px;
  height: 40px;
  display: block;
  }
div.campo> input{ 
  padding-left: 140px;
  height: 30px;
   width: 170px;
    border: 10px;
    padding: 4px;
    border-radius: 9px;
    background-color: white;
}
 div.campo > input:hover{
 background-color: #49a09d;
 }
   
   div.campo > label{
    display: none;
 }

 div.campo>  span {
  font-size: 2em;
  color: white;
     }

form> input[type=submit]{
  transform: translate(10px 30px);
  background-color:#2d877d;
 margin: 2px;
 border:2px, solid, rgba(0, 0, 0, 0.438);
 border-radius: 10px;
 width: 230px;
 height: 40px;
color: white;

}
form> input[type=submit]:hover{
  
  background-color:rgba(0, 119, 255, 0.484);
}



form > div.botao {
   transform: translate(10px 30px);
margin-top: 5px;
padding-top: 10px;
padding-bottom: 5px;
border:2px, solid,black;
 border-radius: 9px;
 width: 230px;
 height: 26px;
 text-align:center;
 
}
a {
  color: black;
  text-decoration: none;
 font-size: 4em; 
 transition: calc();
}
 form>div.botao > span{
  font-size:0.8em;
}
div.botao:hover{
  background-color:#68d4cb;
}
 }
 @media (min-width:993px) and (max-width:1200px){
  *{
    padding: 0px;
    margin: 1px;
    font-family: 'Times New Roman', Times, serif;
   }
/*
paleta de cores;
verde:#49a09d
lilas:#5f2c82

*/


body{
    background:linear-gradient(to bottom, #49a09d,
    #5f2c82 );
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

main{ 
  
    background-color: white;
   border-radius:2%;
 margin: 220px;
   width: 850px;  
   height: 340px;
   padding: 10px;
    transform: translate(-110px, -1px);
   
    }
    
 #formulario{
text-align: justify;

}
section#login >div#formulario{
display: block;
padding-left: 220px;
justify-content: center;
  align-items: center; 
  transform: translate(280px
   ,-10px);
}
}

#formulario>h1{
 padding-left: 400px;

 
  }

   #formulario>p{
  padding-bottom:7px;
  padding-left: 300px;
  padding-top: -20px;
  
}
section#login >div#imagem{
  background: #5f2c82 url(pexels-gdtography-277628-911738.jpg);
    width: 300px;
    height: 349px;
    margin-top:13px;
    border-top-left-radius: 10%;
    border-bottom-left-radius:10%;
    position: absolute;
    right: 76%;
    left: 20%;
   padding-block-start: 13px;
   padding-inline-start: 10px;
   transform: translate(-1%, -4%);
   display: block;
}

form > div.campo{
    padding-left: 500px;
  background-color: #5f2c82;
  border-radius:2px solid #5f2c82;
  border-radius: 9px;
  padding-bottom: 0%;
  margin-top: 5px;
  margin: 20px 0px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
 display: block;
}
div.campo > input{ 
    padding-left: 400px;
  height: 30px;
   width: 300px;
    border: 10px;
    padding: 4px;
    border-radius: 9px;
    background-color: white;
}
 div.campo > input:hover{
 background-color: #49a09d;
 }
   
   div.campo > label{
    display: none;
 }

 div.campo>  span {
  font-size: 2em;
  color: white;
     }

form> input[type=submit]{
 transform: translate(50px 50px);
  background-color:#2d877d;
 margin: 10px;
 border:2px, solid, rgba(0, 0, 0, 0.438);
 border-radius: 10px;
 width: 300px;
 height: 43px;
color: white;

}
form> input[type=submit]:hover{
  
  background-color:rgba(0, 119, 255, 0.484);
}



form > div.botao {
  transform: translate(460px
   ,-10px);
margin-top: 5px;
padding-top: 10px;
padding-bottom: 5px;
border:2px, solid,black;
 border-radius: 9px;
 width: 295px;
 height: 26px;
 text-align:center;
 
}
a {
  margin: 10px;
  color:black;
  font-size:2em;
  text-decoration:none;
  font-size:4px;

}

 form>div.botao > span{
  font-size:0.8em;
}
div.botao:hover{
  background-color:#68d4cb;
}

   
@media (min-width:1200px)  { 


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
   }
/*
paleta de cores;
verde:#49a09d
lilas:#5f2c82

*/


body{
    background:linear-gradient(to bottom, #49a09d,
    #5f2c82 );
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

main{ 
    background-color: white;
   border-radius: 2%;
 margin: 220px;
   width: 800px;  
   height: 300px;
   padding: 10px;
   
    }
    
 #formulario{
text-align: justify;

}
section#login >div#formulario{
display: block;
justify-content: center;
  align-items: center; 
}

#formulario>h1{
  float:right;
  width:77%;
 
}
section#login >div#imagem{
  background: #5f2c82 url(pexels-gdtography-277628-911738.jpg);
    width: 475px;
    height: 307px;
    margin-top:13px;
    border-top-right-radius: 5%;
    border-bottom-right-radius:5%;
    position: absolute;
    left: 46%;
    right: 70%;
   padding-block-start: 13px;
   padding-inline-start: 10px;
   transform: translate(-1%, -4%);
   display: block;
}

form > div.campo{
   transform: translate(-7px
   ,-35px);
  background-color: #5f2c82;
  border-radius:2px solid #5f2c82;
  border-radius: 9px;
  margin: 7px 0px;
  width: 373px;
  height: 40px;
  display: block;
}
div.campo > input{ 
transform: translate(33px
   ,-35px);
  height: 30px;
   width: 330px;
    border: 10px;
    padding: 4px;
    border-radius: 9px;
    background-color: white;
}
 div.campo > input:hover{
   transform: translate(-7px
   ,-35px);
 background-color: #49a09d;
 }
   
   div.campo > label{
    display: none;
 }

 div.campo>  span {
  font-size: 2em;
  color: white;
     }

form> input[type=submit]{
   transform: translate(-7px
   ,-35px);
  background-color:#2d877d;
 margin: 2px;
 border:2px, solid, rgba(0, 0, 0, 0.438);
 border-radius: 10px;
 width: 369px;
 height: 40px;
color: white;

}
form> input[type=submit]:hover{
  
  background-color:rgba(0, 119, 255, 0.484);
}



form > div.botao {
   transform: translate(-7px
   ,-35px);
margin-top: 5px;
padding-top: 10px;
padding-bottom: 5px;
border:2px, solid,black;
 border-radius: 9px;
 width: 365px;
 height: 26px;
 text-align:center;
 
}
a {
  color: black;
  text-decoration: none;
 font: size 4em; 
 transition: calc();
}
 form>div.botao > span{
  font-size:0.8em;
}
div.botao:hover{
  background-color:#68d4cb;
}
 }
